In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
gdp_df=pd.read_csv('data/gdp_percapita.csv')

In [4]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN
5     Afghanistan  2013  2264.317575              NaN

In [5]:
internet_df=pd.read_csv('data/internet_use.csv')

In [6]:
print(internet_df.head(6))

  Country or Area  Year             Value Value Footnotes
0     Afghanistan  2014              6.39             NaN
1     Afghanistan  2013               5.9             NaN
2     Afghanistan  2012  5.45454545454545             NaN
3     Afghanistan  2011                 5             NaN
4     Afghanistan  2010                 4             NaN
5     Afghanistan  2009              3.55             NaN

In [7]:
print("GDP Shap: ", gdp_df.shape)
print("Intrnet Shape: ", internet_df.shape)

GDP Shap:  (6608, 4)
Intrnet Shape:  (4676, 4)

In [8]:
internet_df.dtypes

Country or Area    object
Year               object
Value              object
Value Footnotes    object
dtype: object

In [9]:
gdp_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [10]:
print(gdp_df.tail(6))

     Country or Area                                      Year        Value  \
6602        Zimbabwe                                      1993  3033.504852
6603        Zimbabwe                                      1992  3054.889178
6604        Zimbabwe                                      1991  3426.598094
6605        Zimbabwe                                      1990  3324.348171
6606   footnoteSeqID                                  Footnote          NaN
6607               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
6602              NaN
6603              NaN
6604              NaN
6605              NaN
6606              NaN
6607              NaN

In [11]:
print(internet_df.tail(6))

     Country or Area                                               Year  \
4670             175             Includes individuals 3 years and older
4671             176                                   NTIA/CPS survey.
4672             177                     Pew Internet Project, Internet
4673             178  Estimated based on Survey's results. Populatio...
4674             179                     Preliminary. Country estimate.
4675             180  The methodology used to estimated the figure f...

                                     Value  \
4670                                   NaN
4671                                   NaN
4672   Broadband and cell phone statistics
4673                                   NaN
4674                                   NaN
4675                                   NaN

                                        Value Footnotes
4670                                                NaN
4671                                                NaN
4672  ‚Äù January 5 2010 http://www.pewinternet.org/~/...
4673                                                NaN
4674                                                NaN
4675                                                NaN

In [12]:
gdp_df=gdp_df.drop('Value Footnotes',axis=1)

In [13]:
internet_df=internet_df.drop('Value Footnotes',axis=1)

In [14]:
internet_df.rename(columns = {'Country or Area':'Country', 'Year':'Year', 'Value': 'Internet_Users_Pct'}, inplace=True)

In [15]:
gdp_df.rename(columns = {'Country or Area':'Country', 'Year':'Year', 'Value': 'GDP_Per_Capita'}, inplace=True)

In [16]:
internet_df

,Country,Year,Internet_Users_Pct
0,Afghanistan,2014,6.39
1,Afghanistan,2013,5.9
2,Afghanistan,2012,5.45454545454545
3,Afghanistan,2011,5
4,Afghanistan,2010,4
...,...,...,...
4671,176,NTIA/CPS survey.,NaN
4672,177,"Pew Internet Project, Internet",Broadband and cell phone statistics
4673,178,Estimated based on Survey's results. Populatio...,NaN
4674,179,Preliminary. Country estimate.,NaN
4675,180,The methodology used to estimated the figure f...,NaN

In [17]:
gdp_and_internet_use = pd.merge(internet_df, gdp_df)

In [18]:
gdp_and_internet_use

            Country      Year   Internet_Users_Pct  GDP_Per_Capita
0       Afghanistan      2014                 6.39     2249.253738
1       Afghanistan      2013                  5.9     2264.317575
2       Afghanistan      2012     5.45454545454545     2220.481526
3       Afghanistan      2011                    5     2037.608607
4       Afghanistan      2010                    4     2093.743565
...             ...       ...                  ...             ...
3433       Zimbabwe      1996    0.016790483892511     3520.430146
3434       Zimbabwe      1995  0.00768353991953285     3226.413930
3435       Zimbabwe      1994  0.00173927955909959     3263.934978
3436       Zimbabwe      1990                    0     3324.348171
3437  footnoteSeqID  Footnote                  NaN             NaN

[3438 rows x 4 columns]

In [19]:
gdp_and_internet_use_sub = gdp_and_internet_use[(gdp_and_internet_use['Year']=='2004')|(gdp_and_internet_use['Year']=='2009')|(gdp_and_internet_use['Year']=='2014')]

In [20]:
gdp_and_internet_use_sub

          Country  Year Internet_Users_Pct  GDP_Per_Capita
0     Afghanistan  2014               6.39     2249.253738
5     Afghanistan  2009               3.55     1881.777626
10    Afghanistan  2004  0.105809030021958     1284.127338
13        Albania  2014               60.1    11828.232264
18        Albania  2009               41.2    10528.778102
...           ...   ...                ...             ...
3398       Zambia  2009               6.31     2917.522504
3403       Zambia  2004   2.01354953218533     2261.771409
3415     Zimbabwe  2014              19.89     2955.240287
3420     Zimbabwe  2009              11.36     1925.364381
3425     Zimbabwe  2004    6.5640450271075     2480.859342

[479 rows x 4 columns]

In [27]:
gdp_and_internet_use_2004 = gdp_and_internet_use[(gdp_and_internet_use['Year']=='2004')]
gdp_and_internet_use_2009 = gdp_and_internet_use[(gdp_and_internet_use['Year']=='2009')]
gdp_and_internet_use_2014 = gdp_and_internet_use[(gdp_and_internet_use['Year']=='2014')]

In [28]:
gdp_and_internet_use_2004

                  Country  Year Internet_Users_Pct  GDP_Per_Capita
10            Afghanistan  2004  0.105809030021958     1284.127338
23                Albania  2004   2.42038779776014     7738.542836
44                Algeria  2004   4.63447508776537     9898.310490
66                 Angola  2004  0.464814617985909     5568.959139
86    Antigua and Barbuda  2004   24.2665437161785    18742.463741
...                   ...   ...                ...             ...
3340              Uruguay  2004   17.0630983403661    12479.966872
3362           Uzbekistan  2004   2.59372542084924     3221.189333
3383              Vanuatu  2004   4.74660261917533     2796.426115
3403               Zambia  2004   2.01354953218533     2261.771409
3425             Zimbabwe  2004    6.5640450271075     2480.859342

[156 rows x 4 columns]

In [29]:
 gdp_and_internet_use_2004.loc[gdp_and_internet_use_2004['Internet_Users_Pct'].idxmax()]

TypeError: reduction operation 'argmax' not allowed for this dtype

In [31]:
gdp_and_internet_use_2004[gdp_and_internet_use_2004['Internet_Users_Pct']==gdp_and_internet_use_2004['Internet_Users_Pct'].max()]

    Country  Year Internet_Users_Pct  GDP_Per_Capita
343  Belize  2004                9.8     7327.474691